**/target
*.txt
agency.csv
routes.csv
shapes.csv
stop_times.csv
stops.csv
trips.csv
configuration.yaml
segments.json
line_freq.csv
speeds_data.csv
stop_freq.csv
segment_data.csv
configuration/base.yaml
